name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@97a9f7326d3cdc66b5d614a06a8e51c7036b0a78

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@97a9f7326d3cdc66b5d614a06a8e51c7036b0a78

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@97a9f7326d3cdc66b5d614a06a8e51c7036b0a78

  verify-build-nuget:
    uses: ./.github/workflows/reusable-build-nuget-package.yaml
    with:
      version: 0.0.1
      configuration: Release
