name: Build release artifacts

on:
  release:
    types: [published]

env:
  configuration: Release
  path: src/ProjectOrigin.PedersenCommitment

jobs:
  define-version:
    uses: project-origin/.github/.github/workflows/reusable-tag-version.yaml@97a9f7326d3cdc66b5d614a06a8e51c7036b0a78

  build-nuget-package:
    needs:
      - define-version
    uses: ./.github/workflows/reusable-build-nuget-package.yaml
    with:
      version: ${{ needs.define-version.outputs.version }}
      configuration: Release
      nuget_artifact: nuget-packages

  publish-nuget-package:
    needs:
      - build-nuget-package
    uses: project-origin/.github/.github/workflows/reusable-publish-nuget-artifacts.yaml@97a9f7326d3cdc66b5d614a06a8e51c7036b0a78
    with:
      nuget_artifact: nuget-packages
    secrets:
      nuget_api_key: ${{ secrets.NUGET_API_KEY }}
