name: Build release artifacts

on:
  release:
    types: [published]

env:
  configuration: Release
  path: src/ProjectOrigin.PedersenCommitment

jobs:
  define-version:
    uses: project-origin/.github/.github/workflows/reusable-tag-version.yaml@c3636dc0f4074360ec7c43680243c39cc6894565

  build-nuget-package:
    needs:
      - define-version
    uses: ./.github/workflows/reusable-build-nuget-package.yaml
    with:
      version: ${{ needs.define-version.outputs.version }}
      configuration: Release
      nuget_artifact: nuget-packages

  publish-nuget-package:
    needs:
      - build-nuget-package
    uses: project-origin/.github/.github/workflows/reusable-publish-nuget-artifacts.yaml@c3636dc0f4074360ec7c43680243c39cc6894565
    with:
      nuget_artifact: nuget-packages
    secrets:
      nuget_api_key: ${{ secrets.NUGET_API_KEY }}
