name: Build nuget package

on:
  workflow_call:
    inputs:
      version:
        description: 'The version of the package'
        required: true
        type: string
      configuration:
        description: 'The build configuration'
        required: true
        type: string
      nuget_artifact:
        description: 'The name of the artifact to upload to'
        required: true
        type: string

jobs:
  build-rust-artifacts:
    uses: ./.github/workflows/reusable-build-rust-artifacts.yaml
    with:
      path: src/Native

  publish-nuget-package:
    name: Build and publish nuget package
    runs-on: ubuntu-22.04
    needs:
      - build-rust-artifacts
    env:
      project: src/ProjectOrigin.PedersenCommitment
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup .NET Core SDK from global.json
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5

      - name: Unpack rust artifacts
        uses: ./.github/actions/unpack-rust-artifacts
        with:
          path: src/Native/target
          configuration: ${{ inputs.configuration }}

      - name: Package nuget package
        shell: bash
        run: dotnet pack --output build --configuration ${{ inputs.configuration }} -p:Version=${{ inputs.version }} ${{ env.project }}

      - name: Upload nuget artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ${{ inputs.nuget_artifact }}
          retention-days: 1
          path: build/*.nupkg
